.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.register-box {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px; /* Ajusta el tamaño del cuadro */
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  color: #000000;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

h3 {
  color: #000000;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.input-group {
  position: relative;
  margin-bottom: 1.2rem;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333333;
}

.register-button {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.2rem;
  width: 100%;
}

.register-button:hover {
  background-color: #333333;
}

.login-link {
  color: #7d70d4;
  text-decoration: none;
  display: inline; /* Asegúrate de que sea inline o inline-block */
}

.login-link:hover {
  text-decoration: underline;
}


p {
  font-size: 1rem;
  margin-top: 1.2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté en la capa superior */
}

.modal-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 80%;
  position: relative;
  z-index: 1001; /* Asegura que esté encima del overlay */
}
.close-x {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-x:hover {
  color: #000;
}

.close-button {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #333;
}

.login-link {
  color: #7d70d4;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
