.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.registerBox {
  background-color: #000000;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px; /* Ajusta el tamaño del cuadro */
  margin-top: 1.5rem;
} 

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

h3 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputGroup input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333333;
}

.registerButton {
  background-color:  #e87b3d;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.2rem;
  width: 100%;
  background-color: #4CAF50;
}

.registerButton:hover {
  background-color: #369424;        
}

/* .loginLink {
  color: #d47070;
  text-decoration: none;
  display: inline; /* Asegúrate de que sea inline o inline-block 
} */

/* .loginLink:hover {
  text-decoration: underline;
} */

.loginLink {
  color: #4CAF50;
  text-decoration: none;
  font: bolder;
}

.loginLink:hover {
  color: red;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  margin-top: 1.2rem;
}

.modalOverlay {
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  padding: 0; 
}

.modalContent {
  background: #369424;
  padding: 15px 20px 10px 20px;
  border-radius: 8px; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: auto;
  font-size: 14px;
  position: relative;
}

.modalContent h3 {
  font-size: 16px;
  margin: 0 0 5px 0; 
  font-weight: bold;
  margin-bottom: 0;
}

.modalContent p {
  margin-top: 0;
  margin-bottom: 0;
}

.closeX {
  position: absolute;
  top: -15px;
  right: -25px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.closeX:hover {
  color: #000;
}

.closeButton {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #333;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}


.passwordStrength {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.strengthBar {
  width: 33%;
  height: 10px;
  border-radius: 5px;
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: rgb(232, 232, 1);
}

.green {
  background-color: green;
}

.gray {
  background-color: lightgray;
}

.strengthMessage {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
  text-align: left; /* Alinea el texto al lado izquierdo */
}

/* Colores para el texto del mensaje de fortaleza */
.textRed {
  color: red;
}

.textYellow {
  color: orange;
}

.textGreen {
  color: green;
}

@keyframes shrink {
  0% {
      width: 100%;
  }
  100% {
      width: 0%;
  }
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px; 
  background-color: rgba(0, 0, 0, 0.452); 
  width: 100%;
  animation: shrink 5s linear forwards;
}